*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    margin: 0; 
    padding: 0;
}

.menu{  
    background-color: black;
    text-align: center;
}
.menu ul{ 
    display: inline-flex;
    list-style: none;
} 
.menu ul li {
    width: 300px;
    padding: 15px;
    margin: 15px;
    
}
a:link{
    color:white;
    background-color: transparent;
    text-decoration: none;
}

.link {
    display: inline-block;
    background-color: #ffffff;
    color: #928585;
    padding: 15px  50px;
    /* text-align: center; */
    /* text-decoration: none; */
    border: 2px solid #ffffff;
    border-radius: 300px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #e4ecf1;
    transform: scale(1.1);
}

.camera{
    display: flex;
    justify-content: center;
    align-items: center;
    height:900px;
    overflow: hidden;
}

.container{
    width:318px;
    height: 310px;
    position: absolute;
    overflow: hidden;
    background-color: blue;
    border-radius: 50%;
    padding:10px;
    top: 44.8%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#circle{
    position: relative;
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}