*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #1C1C1C;
    margin: 0; 
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.menu{  
    background-color: transparent;
    text-align: center;
    z-index: 999;
    position: relative;
}
.menu ul{ 
    display: inline-flex;
    list-style: none;
} 
.menu ul li {
    width: 300px;
    padding: 15px;
    margin: 15px;
    
}
a:link{
    color:white;
    background-color: transparent;
    text-decoration: none;
}

.link {
    display: inline-block;
    background-color: #ffffff;
    color: #fff;
    padding: 15px  50px;
    /* text-align: center; */
    /* text-decoration: none; */
    border: 2px solid #ffffff;
    border-radius: 300px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #e4ecf1;
    transform: scale(1.1);
    color:black;
}

.camera{
    /* display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    height:900px;
    z-index: 998;
    position: absolute; */
    width:550px;
    height: 500px;
    position: absolute;
    /* overflow: hidden; */
    
    /* border-radius: 50%; */
    padding:10px;
    top: 48.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    
    
}
#matrix{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    
}
.container{
    width:318px;
    height: 310px;
    position: absolute;
    overflow: hidden;
    
    border-radius: 50%;
    padding:10px;
    top: 48.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
}
#circle{
    position: relative;
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    z-index: 999;
}
.Spoter{
    color:#fff;
    position:absolute;
    text-align: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 70px;
    z-index: 999;
    font-family: 'Anonymous Pro', monospace;
    background-color: transparent;

}