

body{
    background-color: black;
    color: #fff;
    margin: 0; 
    padding: 0;
}

main{
    display: grid;
    place-content: center;
    min-height: 100vh;
    position: relative;
}

.menu{  
    background-color: black;
    text-align: center;
}
.menu ul{ 
    display: inline-flex;
    list-style: none;
} 
.menu ul li {
    width: 300px;
    padding: 15px;
    margin: 15px;
    
}
a:link{
    color:white;
    background-color: transparent;
    text-decoration: none;
}

.link {
    display: inline-block;
    background-color: #ffffff;
    color: #928585;
    padding: 15px  50px;
    /* text-align: center; */
    /* text-decoration: none; */
    border: 2px solid #ffffff;
    border-radius: 300px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #e4ecf1;
    transform: scale(1.1);
}

#circle1 , 
#circle1 img{
    position: absolute;
}

